<section class="hp-posts">
  <div class="container">
    <div class="hp-posts__top">
      <h3 class="h1">DALŠÍ NOVINKY</h3>
      <a class="link-light" href="#">Všechny články</a>
    </div>
    <div class="row g-10">
      <div class="col-xl-4 col-12 col-md-6">
        <a href="#" class="post">
          <div class="post__img">
            <img loading="lazy" src="images/content/1.jpg" alt="" />
          </div>
          <div class="post__info">
            <div class="p2">28. 1. 2023</div>
            <h4 class="h2">100 LET SPORTU VE STŘEŠOVICÍCH</h4>
          </div>
        </a>
      </div>
      <div class="col-xl-4 col-12 col-md-6">
        <a href="#" class="post">
          <div class="post__img">
            <img loading="lazy" src="images/content/1.jpg" alt="" />
          </div>
          <div class="post__info">
            <div class="p2">28. 1. 2023</div>
            <h4 class="h2">100 LET SPORTU VE STŘEŠOVICÍCH</h4>
          </div>
        </a>
      </div>
      <div class="col-xl-4 col-12 col-md-6">
        <a href="#" class="post">
          <div class="post__img">
            <img loading="lazy" src="images/content/1.jpg" alt="" />
          </div>
          <div class="post__info">
            <div class="p2">28. 1. 2023</div>
            <h4 class="h2">100 LET SPORTU VE STŘEŠOVICÍCH</h4>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
