<section class="partners-slider">
  <div class="container">
    <div class="partners-slider__inner">
      <div class="partners-slider__title">DĚKUJEME ZA PODPORU:</div>
      <div class="partners-slider__items">
        <a href="#" class="partners-slider__item">
          <img loading="lazy" src="images/content/p-1.png" alt="" />
        </a>
        <a href="#" class="partners-slider__item">
          <img loading="lazy" src="images/content/p-2.png" alt="" />
        </a>
        <a href="#" class="partners-slider__item">
          <img loading="lazy" src="images/content/p-3.png" alt="" />
        </a>
      </div>
    </div>
  </div>
</section>
