<section class="price-section">
  <div class="title-section">
    <div class="container">
      <h1 class="h1">CENÍK a rozpis</h1>
    </div>
  </div>
  <div class="container">
    <div class="price-section__wrapper row">
      <div class="col-lg-6">
        <div class="price-section__img">
          <img loading="lazy" src="images/content/2.jpeg" alt="" />
        </div>
      </div>
      <div class="col-lg-6">
        <ul class="price-section__links">
          <li>
            <a href="#" class="btn btn-right">CENÍK SPORTOVIŠŤ</a>
          </li>
          <li>
            <a href="#" class="btn btn-right">ROZPIS PRAVIDELNÝCH AKCÍ</a>
          </li>
          <li>
            <a href="#" class="btn btn-right">ROZPIS NEPRAVIDELNÝCH AKCÍ</a>
          </li>
          <li>
            <a href="#" class="btn btn-right">ROZPIS NEPRAVIDELNÝCH AKCÍ</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
