<section class="sport-section">
  <div class="title-section">
    <div class="container">
      <div class="sport-section__title">
        <div class="sport-section__icon">{% include "@images/deti.svg" %}</div>
        <h1 class="h1">Cvičení dětí</h1>
      </div>
    </div>
  </div>
  <div class="sport-section__wrapper">
    <div class="sport-section__menu">
      <div class="container">
        <ul class="sport-section__list nav nav-tabs">
          <li>
            <a data-toggle="tab" class="" href="#skupiny">Věkové skupiny</a>
          </li>
          <li>
            <a data-toggle="tab" class="active" href="#rozvrh">Rozvrh</a>
          </li>
          <li>
            <a data-toggle="tab" class="" href="#prihlaska">Přihláška</a>
          </li>
          <li>
            <a data-toggle="tab" class=" " href="#cena">Ceník</a>
          </li>
          <li>
            <a data-toggle="tab" class="" href="#kontakt">Kontakt</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="container">
      <div class="tab-content">
        <div class="tab-box tab-pane fade" id="skupiny">
          <div class="sport-arhive">
            <div class="row g-10">
              <div class="col-xl-4 col-12 col-md-6">
                <div class="post">
                  <div class="post__img">
                    <img loading="lazy" src="images/content/1.jpg" alt="" />
                  </div>
                  <div class="post__info">
                    <h4 class="h3">PIDILIDI</h4>
                    <div class="p2">
                      Plaziči 4-8 měsíců + Lezci 8-12 měsíců + První krůčky cca
                      10-15 měsíců
                    </div>
                    <p>
                      S nejmenšími dětmi cvičíme formou říkanek a písniček
                      spojených s pohybem. Stimulace svalových skupin pomáhá
                      rozvoji pohybového aparátu a děti si už v tomto raném
                      věku...
                    </p>
                    <a class="post__more" href="#">Více </a>
                  </div>
                </div>
              </div>
              <div class="col-xl-4 col-12 col-md-6">
                <div class="post">
                  <div class="post__img">
                    <img loading="lazy" src="images/content/1.jpg" alt="" />
                  </div>
                  <div class="post__info">
                    <h4 class="h3">PIDILIDI</h4>
                    <div class="p2">
                      Plaziči 4-8 měsíců + Lezci 8-12 měsíců + První krůčky cca
                      10-15 měsíců
                    </div>
                    <p>
                      S nejmenšími dětmi cvičíme formou říkanek a písniček
                      spojených s pohybem. Stimulace svalových skupin pomáhá
                      rozvoji pohybového aparátu a děti si už v tomto raném
                      věku...
                    </p>
                    <a class="post__more" href="#">Více </a>
                  </div>
                </div>
              </div>
              <div class="col-xl-4 col-12 col-md-6">
                <div class="post">
                  <div class="post__img">
                    <img loading="lazy" src="images/content/1.jpg" alt="" />
                  </div>
                  <div class="post__info">
                    <h4 class="h3">Fyzio cvičení s konzultací</h4>
                    <div class="p2">Mini - 2-2,5 let a Dráčci - 2,5-4 let</div>
                    <p>
                      S nejmenšími dětmi cvičíme formou říkanek a písniček
                      spojených s pohybem. Stimulace svalových skupin pomáhá
                      rozvoji pohybového aparátu a děti si už v tomto raném
                      věku...
                    </p>
                    <a class="post__more" href="#">Více </a>
                  </div>
                </div>
              </div>
              <div class="col-xl-4 col-12 col-md-6">
                <div class="post">
                  <div class="post__img">
                    <img loading="lazy" src="images/content/1.jpg" alt="" />
                  </div>
                  <div class="post__info">
                    <h4 class="h3">Gymnastika M</h4>
                    <div class="p2">
                      Plaziči 4-8 měsíců + Lezci 8-12 měsíců + První krůčky cca
                      10-15 měsíců
                    </div>
                    <p>
                      S nejmenšími dětmi cvičíme formou říkanek a písniček
                      spojených s pohybem. Stimulace svalových skupin pomáhá
                      rozvoji pohybového aparátu a děti si už v tomto raném
                      věku...
                    </p>
                    <a class="post__more" href="#">Více </a>
                  </div>
                </div>
              </div>
              <div class="col-xl-4 col-12 col-md-6">
                <div class="post">
                  <div class="post__img">
                    <img loading="lazy" src="images/content/1.jpg" alt="" />
                  </div>
                  <div class="post__info">
                    <h4 class="h3">PIDILIDI</h4>
                    <div class="p2">
                      Plaziči 4-8 měsíců + Lezci 8-12 měsíců + První krůčky cca
                      10-15 měsíců
                    </div>
                    <p>
                      S nejmenšími dětmi cvičíme formou říkanek a písniček
                      spojených s pohybem. Stimulace svalových skupin pomáhá
                      rozvoji pohybového aparátu a děti si už v tomto raném
                      věku...
                    </p>
                    <a class="post__more" href="#">Více </a>
                  </div>
                </div>
              </div>
              <div class="col-xl-4 col-12 col-md-6">
                <div class="post">
                  <div class="post__img">
                    <img loading="lazy" src="images/content/1.jpg" alt="" />
                  </div>
                  <div class="post__info">
                    <h4 class="h3">PIDILIDI</h4>
                    <div class="p2">
                      Plaziči 4-8 měsíců + Lezci 8-12 měsíců + První krůčky cca
                      10-15 měsíců
                    </div>
                    <p>
                      S nejmenšími dětmi cvičíme formou říkanek a písniček
                      spojených s pohybem. Stimulace svalových skupin pomáhá
                      rozvoji pohybového aparátu a děti si už v tomto raném
                      věku...
                    </p>
                    <a class="post__more" href="#">Více </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-box tab-pane in active" id="rozvrh">
          <div class="row">
            <div class="col-xxl-10 m-auto">
              <div class="sport-application">
                <h2 class="tab-box__title h1">ROZVRH</h2>
                <div class="o-content">
                  <table>
                    <thead>
                      <tr>
                        <th></th>
                        <th>09:00 – 09:45</th>
                        <th>10:00 – 10:45</th>
                        <th>11:00 – 11:45</th>
                        <th>12:00 – 12:45</th>
                        <th>14:00 – 14:45</th>
                        <th>15:00 – 15:45</th>
                        <th>16:00 – 16:45</th>
                        <th>17:00 – 18:00</th>
                        <th>18:00 – 19:00</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Pondělí</td>
                        <td></td>
                        <td>Dráčci</td>
                        <td>Minidráčci</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>Úterý</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>Středa</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>Čtvrtek</td>
                        <td>Dráčci</td>
                        <td>Minidráčci</td>
                        <td>Dráčci</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>Pátek</td>
                        <td>Minidráčci</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="tab-box tab-pane fade" id="prihlaska">
          <div class="row">
            <div class="col-xxl-10 m-auto">
              <div class="sport-application">
                <h2 class="tab-box__title h1">prihlaska</h2>
                <div class="tab-box__row">
                  <h2 class="h2 text-primary text-uppercase">
                    Všeobecné informace a přihlášení
                  </h2>
                  <ul>
                    <li>
                      Cvičíme celý rok se stejnou skupinkou. Platba je
                      pololetně. V lednu automaticky zapisujeme cvičence do
                      druhého pololetí pokud nezažádají o přestup nebo o
                      odhlášení.
                    </li>
                    <li>
                      V druhém pololetí se rozvrh pouze postarší, ale děti i
                      lektoři zůstávají na svých hodinách (př: I.pololetí
                      skřítci = II. pololetí minidráčci). Ve výjimečných
                      situacích se mohou lektorky změnit.
                    </li>
                    <li>
                      Volná místa v rozvrhu se zobrazují v rezervačním systému
                      ve složce cvičení dětí. Hlídejte si datum na které koukáte
                    </li>
                    <li>Přihlašování je pouze online.</li>
                    <li>
                      Náhradníky neevidujeme, rezervační systém je stále
                      aktuální.
                    </li>
                    <li>
                      <strong>
                        Ukázková hodina je placená za jednorázový poplatek
                        200Kč. Platí se hotově na recepci před začátkem předem
                        domluvené lekce.
                      </strong>
                    </li>
                    <li>Cvičenci se stávají členy TJ Tatran Střešovice.</li>
                    <li>
                      Cvičenci dostanou jedno tričko / body pro dítě s logem
                      Tatranu na školní rok.
                    </li>
                    <li>
                      <strong>
                        Prosíme o zvážení hodiny na kterou se hlásíte. Může se
                        stát, že z důvodu naplněnosti nebude možné vás
                        přesunout. Rezervujte si pouze jednu hodinu, nikoli více
                        hodin za účelem výběru.
                      </strong>
                    </li>
                    <li>
                      V případě nenastoupení, prosím oznamte sms, ať vás
                      zbytečně neevidujeme a neblokujete místo ostatním
                      zájemcům.
                    </li>
                    <li>
                      Předplatitelé I. kurzu mají přednostní právo pro koupi II.
                      kurzu do stejného dne a hodiny. Budou automaticky
                      přihlášeni na II. kurz a poslány platební údaje. Přestupy
                      mezi kurzy se dělají vyjímečně pokud je volné místo a to v
                      předstihu 14 dní před přihlašovacím obdobím. V případě, že
                      předplatitel I. kurzu nebude chtít navštěvovat II. kurz,
                      prosím o sdělení sms nebo mailem. Zbylá volná místa budou
                      nabídnuta veřejnosti v přihlašovacím období.
                    </li>
                    <li>
                      Pro zjištění spárované platby nebo jaký den a hodinu jste
                      si rezervovali využijte přihlášení v rezervačním systému.
                    </li>
                    <li>
                      V případě zrušení hodiny provozovatelem (TJ Tatran
                      Střešovice) má předplatitel nárok na vrácení poměrné části
                      kurzovného.
                    </li>
                    <li>
                      V případě dlouhodobé nemoci lze vrátit poměrnou část
                      kurzovného na základě lékařské zprávy.
                    </li>
                    <li>
                      Náhradní lekce neprobíhají. Naše cvičení je v rámci
                      tělovýchovné jednoty, nikoli komerční společnosti.
                    </li>
                    <li>
                      S sebou na cvičení: pohodlné oblečení pro rodiče i děti,
                      boty do tělocvičny s nečernající podrážkou (můžou také
                      bosky, měkké botičky, cvičky, ponožky s protiskluzovým
                      vzorkem), uzavíratelné pití. Šatna se zamyká a klíč se
                      vrací na recepci. Nenechávejte si v šatně cennosti! V sále
                      je teplo, ale v předsálí nikoli. Do sálu budete vpuštěni
                      cca 5 min. před zahájením lekce, nebo hned jakmile se
                      uvolní. V případě, že probíhá jiné cvičení a dveře jsou
                      zavřené, nevstupujte a při čekání v předsálí prosím
                      nerušte probíhající cvičení (např. jogínskou meditaci
                      :-)).
                    </li>
                  </ul>
                </div>
                <div class="tab-box__row">
                  <h2 class="h2 text-primary text-uppercase">
                    Přihlašování probíhá:
                  </h2>
                  <div class="o-content">
                    <ol>
                      <li>
                        přihlášením rodiče do kurzu v rozvrhu (např. Dráčci) v
                        rezervačním systému v přihlašovacím období (v září a v
                        lednu). Registrace v rezervačním systému vám umožní se v
                        rezervačním období přihlásit na jednotlivé kurzy.
                        Nikoli, že jste přihlášení pouhou registrací! Po
                        úspěšném přihlášení vám přijde automaticky vygenerovaný
                        email s platebními údaji. Pokud nebudete přihlášení do
                        kurzu, prosím neplaťte předem bez VS. Platba nebude
                        spárována a systém vás automaticky vymaže.
                        <div class="my-10">
                          Při přihlašování na II. kurz se přihlašujete na první
                          hodinu toho týdne, kdy kurz začíná. Hledáte tedy
                          únorové datum nikoli lednové v rezervačním systému,
                          tam končí I. kurz.
                        </div>
                      </li>

                      <li>
                        <strong>
                          poté zaplacením kurzovného do začátku kurzu (platební
                          údaje se automaticky vygenerují po přihlášení do
                          emailu)</strong
                        >
                        <p>
                          Potvrzovací email o úspěšném zaplacení automaticky
                          nechodí. Podívat se zda máte placeno můžete ve vašem
                          profilu v rezervačním systému. Pokud včas nezaplatíte
                          budete automaticky vyrozuměni.
                        </p>
                      </li>
                      <li>
                        <strong
                          >následné vyplnění papírové přihlášky na hodině
                          cvičení (registrace členů Tatranu je důležitá kvůli
                          podání grantů).</strong
                        >
                      </li>
                    </ol>
                  </div>
                </div>
                <div class="tab-box__row">
                  <h2 class="h2 text-primary text-uppercase">
                    PŘIHLÁŠENÍ NA JEDNU LEKCI A VÍKENDOVOU HERNU
                  </h2>
                  <ul>
                    <li>
                      <strong>
                        Lze se přihlásit pokud je nenaplněný kurz nebo volná
                        kapacita herny.
                      </strong>
                    </li>
                    <li>
                      Hodinu rezervujte v <a href="#">rezervačním systému</a>.
                    </li>
                    <li>
                      Hotovostní platba probíhá na recepci TJ Tatran Střešovice
                      před cvičením (platební karty nebereme). Bude Vám vydána
                      kartička, kterou odevzdáte lektorce na lekci či herně.
                    </li>
                    <li>
                      Prosíme zamykat šatnu, nenechávat zde cenné věci a klíč
                      odevzdat na recepci.
                    </li>
                    <li>Přihláška se nevyplňuje.</li>
                    <li>
                      Na víkendovou hernu si můžete vzít přezůvky, pohodlné
                      oblečení, zavíratelné pití i svačinku. Prosíme o udržení
                      čistoty.
                    </li>
                    <li>
                      V případě, že nebudete přihlášení v rezervačním systému na
                      lekci/víkendovou hernu, nemusíte být z důvodu plné
                      kapacity vpuštěni na cvičení. V opačném případě nebudete
                      informováni o zrušení.
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-box tab-pane tab-pane fabe" id="cena">
          <div class="row">
            <div class="col-xxl-10 m-auto">
              <div class="sport-price">
                <h2 class="tab-box__title h1">Ceník</h2>
                <div class="tab-box__row">
                  <h2 class="h2 text-primary text-uppercase">
                    PLATEBNÍ ÚDAJE A INFO:
                  </h2>
                  <p class="p1">
                    Platební údaje jsou každému automaticky vygenerovány po
                    přihlášení do kurzu a zaslány na e-mailovou adresu uvedenou
                    v registraci. Platební údaje, tedy vámi přidělený VS, není
                    totožný na I a II kurz.
                  </p>
                  <p class="p1">
                    Cena se vždy platí v plné výši (tedy nesmí se z ní odečíst
                    jakýkoli příspěvek a ani jiná sleva), aby se mohla
                    automaticky spárovat s vaším jménem a nebyli jste tak
                    nenávratně vymazáni ze seznamu pro nezaplacení kurzu.
                    Výjimkou je pouze pozdní nástup do kurzu (přihlášení do
                    kurzu po začátku), kdy rezervační systém automaticky
                    vygeneruje poníženou částku. Kurzy nelze platit hotovostně
                    na recepci.
                  </p>
                </div>
                <div class="tab-box__row">
                  <h2 class="h2 text-primary text-uppercase">
                    FAKTURA PRO ZAMĚSTNAVATELE:
                  </h2>
                  <p class="p1">
                    Žádost o fakturu pro svého zaměstnavatele prosím zašlete
                    e-mailem naší paní účetní na jana.riedlova@tatran.cz. V
                    žádosti prosím uveďte všechny náležitosti, které potřebujete
                    uvést ve faktuře pro svého zaměstnavatele. Prosím o
                    informaci SMSkou Karolíně, že platíte FA (vaše platba touto
                    metodou se nezobrazí v rezervačním systému).
                  </p>
                </div>
                <div class="tab-box__row">
                  <h2 class="h2 text-primary text-uppercase">
                    POTVRZENÍ PRO POJIŠŤOVNU:
                  </h2>
                  <p class="p1">
                    Potvrzení o zaplacení kurzu žádejte prosím na e-mailu naší
                    paní účetní na jana.riedlova/zavináč/tatran.cz. Povinné
                    údaje: Datum platby nebo v opačném případě uveďte, že budete
                    platit na základě vystavené faktury. Dále celé jméno, datum
                    narození a adresu dítěte. Zpět na Váš e-mail dojde faktura.
                  </p>
                  <p class="p1">
                    Nebo žádost můžete podat na recepci v Tatranu vyplněním
                    svých údajů do konce září/února. Po uplynutí měsíce nelze
                    vystavovat potvrzení. Potvrzení nechodí elektronicky a je
                    potřeba si jej vyzvednout opět na recepci cca za týden.
                  </p>
                </div>
                <div class="mb-10">
                  <h2 class="h2 text-primary text-uppercase">
                    PŘÍSPĚVEK AKTIVNÍ MĚSTO:
                  </h2>
                  <p class="p1">
                    <strong
                      >(týká se pouze žadatelů s trvalým bydlištěm v Městské
                      části Praha 6)</strong
                    >
                  </p>
                </div>

                <div class="o-content">
                  <ol>
                    <li>
                      Registrujte se (přihlášený účastník v rezervačním systému)
                      na portál aktivnimesto.cz – Tatran Střešovice – vyberte
                      sportovní aktivitu – Cvičení rodičů s dětmi (pokud jste
                      nenašli jiný přesný název z přihlášení v rezervačním
                      systému).
                    </li>
                    <li>Tatran následně potvrdí, že k nám chodíte.</li>
                    <li>
                      Městská část Praha 6 Tatranu v následujících měsících
                      pošle váš příspěvek 600,-Kč.
                    </li>
                    <li>
                      Žádost o zaslání vašeho příspěvku Kč 600,- prosím zašlete
                      e-mailem naší paní účetní na
                      jana.riedlova/zavináč/tatran.cz. V žádosti prosím uveďte
                      jméno dítěte, datum narození, jméno rodiče a číslo
                      bankovního účtu, kam si přejete částku poslat. Po přijetí
                      částky z MČ (cca 1-2 měsíce) Vám jej ihned pošleme.
                      Jelikož nelze každou platbu kontrolovat zvlášť, je nutné
                      zaplatit celou částku za kurz, aby se platba spárovala s
                      vaším jménem a nebyli jste kvůli tomu automaticky vymazáni
                      ze seznamu přihlášených z důvodu nezaplacení.
                    </li>
                    <li>
                      Jelikož nelze každou platbu kontrolovat zvlášť, je nutné
                      zaplatit celou částku za kurz, aby se platba spárovala s
                      vaším jménem a nebyli jste kvůli tomu automaticky vymazáni
                      ze seznamu přihlášených z důvodu nezaplacení.
                    </li>
                  </ol>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-box tab-pane fade" id="kontakt">
          <div class="row">
            <div class="col-xxl-10 m-auto">
              <div class="sport-contacts">
                <h2 class="tab-box__title h1">Kontakt</h2>
                <div class="sport-contacts__inner">
                  <div class="sport-contacts__item">
                    <div class="sport-contacts__img">
                      <img
                        src="https://via.placeholder.com/262x262"
                        loading="lazy"
                        alt=""
                      />
                    </div>
                    <h2 class="h2">Ing. Zuzana Tichá</h2>
                    <ul>
                      <li>
                        <strong>Tel.:</strong
                        ><a href="telto:+420777829170"> 777 829 170</a>
                      </li>
                      <li>
                        <strong>Mail:</strong>
                        <a href="mailto:cvicenideti@tatran.cz "
                          >cvicenideti@tatran.cz
                        </a>
                      </li>
                      <li>
                        <strong
                          >Hlavní kontaktní osoba pro všechny věkové kategorie
                          cvičení dětí.
                        </strong>
                      </li>
                      <li>
                        <strong>BIO: </strong> Vystudovala jsem Českou
                        zemědělskou univerzitu v Praze, obor Zootechnika. Kladný
                        vztah k pohybu mám již od dětství. Po narození prvního
                        syna jsem hledala sportovní vyžití pro nás oba a cvičení
                        dětí na TJ Tatran Střešovice bylo tím pravým. Postupně
                        jsme společně prošli všemi kategoriemi od cvičení
                        miminek až po cvičení předškoláků. V průběhu se k nám
                        přidala i prostřední dcera a nyní s nejmladším synem
                        jsem se stala cvičitelkou. Podporovat radost z pohybu
                        považuji u dětí za velmi důležité. Vzdělání: Cvičitel
                        III. třídy rodičů, dětí a předškolních dětí.
                      </li>
                    </ul>
                  </div>
                  <div class="sport-contacts__item">
                    <div class="sport-contacts__img">
                      <img
                        src="https://via.placeholder.com/262x262"
                        loading="lazy"
                        alt=""
                      />
                    </div>
                    <h2 class="h2">Ing. Zuzana Tichá</h2>
                    <ul>
                      <li>
                        <strong>Tel.:</strong
                        ><a href="telto:+420777829170"> 777 829 170</a>
                      </li>
                      <li>
                        <strong>Mail:</strong>
                        <a href="mailto:cvicenideti@tatran.cz "
                          >cvicenideti@tatran.cz
                        </a>
                      </li>
                      <li>
                        <strong
                          >Hlavní kontaktní osoba pro všechny věkové kategorie
                          cvičení dětí.
                        </strong>
                      </li>
                      <li>
                        <strong>BIO: </strong> Vystudovala jsem Českou
                        zemědělskou univerzitu v Praze, obor Zootechnika. Kladný
                        vztah k pohybu mám již od dětství. Po narození prvního
                        syna jsem hledala sportovní vyžití pro nás oba a cvičení
                        dětí na TJ Tatran Střešovice bylo tím pravým. Postupně
                        jsme společně prošli všemi kategoriemi od cvičení
                        miminek až po cvičení předškoláků. V průběhu se k nám
                        přidala i prostřední dcera a nyní s nejmladším synem
                        jsem se stala cvičitelkou. Podporovat radost z pohybu
                        považuji u dětí za velmi důležité. Vzdělání: Cvičitel
                        III. třídy rodičů, dětí a předškolních dětí.
                      </li>
                    </ul>
                  </div>
                  <div class="sport-contacts__item">
                    <div class="sport-contacts__img">
                      <img
                        src="https://via.placeholder.com/262x262"
                        loading="lazy"
                        alt=""
                      />
                    </div>
                    <h2 class="h2">Ing. Zuzana Tichá</h2>
                    <ul>
                      <li>
                        <strong>Tel.:</strong
                        ><a href="telto:+420777829170"> 777 829 170</a>
                      </li>
                      <li>
                        <strong>Mail:</strong>
                        <a href="mailto:cvicenideti@tatran.cz "
                          >cvicenideti@tatran.cz
                        </a>
                      </li>
                      <li>
                        <strong
                          >Hlavní kontaktní osoba pro všechny věkové kategorie
                          cvičení dětí.
                        </strong>
                      </li>
                      <li>
                        <strong>BIO: </strong> Vystudovala jsem Českou
                        zemědělskou univerzitu v Praze, obor Zootechnika. Kladný
                        vztah k pohybu mám již od dětství. Po narození prvního
                        syna jsem hledala sportovní vyžití pro nás oba a cvičení
                        dětí na TJ Tatran Střešovice bylo tím pravým. Postupně
                        jsme společně prošli všemi kategoriemi od cvičení
                        miminek až po cvičení předškoláků. V průběhu se k nám
                        přidala i prostřední dcera a nyní s nejmladším synem
                        jsem se stala cvičitelkou. Podporovat radost z pohybu
                        považuji u dětí za velmi důležité. Vzdělání: Cvičitel
                        III. třídy rodičů, dětí a předškolních dětí.
                      </li>
                    </ul>
                  </div>
                  <div class="sport-contacts__item">
                    <div class="sport-contacts__img">
                      <img
                        src="https://via.placeholder.com/262x262"
                        loading="lazy"
                        alt=""
                      />
                    </div>
                    <h2 class="h2">Ing. Zuzana Tichá</h2>
                    <ul>
                      <li>
                        <strong>Tel.:</strong
                        ><a href="telto:+420777829170"> 777 829 170</a>
                      </li>
                      <li>
                        <strong>Mail:</strong>
                        <a href="mailto:cvicenideti@tatran.cz "
                          >cvicenideti@tatran.cz
                        </a>
                      </li>
                      <li>
                        <strong
                          >Hlavní kontaktní osoba pro všechny věkové kategorie
                          cvičení dětí.
                        </strong>
                      </li>
                      <li>
                        <strong>BIO: </strong> Vystudovala jsem Českou
                        zemědělskou univerzitu v Praze, obor Zootechnika. Kladný
                        vztah k pohybu mám již od dětství. Po narození prvního
                        syna jsem hledala sportovní vyžití pro nás oba a cvičení
                        dětí na TJ Tatran Střešovice bylo tím pravým. Postupně
                        jsme společně prošli všemi kategoriemi od cvičení
                        miminek až po cvičení předškoláků. V průběhu se k nám
                        přidala i prostřední dcera a nyní s nejmladším synem
                        jsem se stala cvičitelkou. Podporovat radost z pohybu
                        považuji u dětí za velmi důležité. Vzdělání: Cvičitel
                        III. třídy rodičů, dětí a předškolních dětí.
                      </li>
                    </ul>
                  </div>
                  <div class="sport-contacts__item">
                    <div class="sport-contacts__img">
                      <img
                        src="https://via.placeholder.com/262x262"
                        loading="lazy"
                        alt=""
                      />
                    </div>
                    <h2 class="h2">Ing. Zuzana Tichá</h2>
                    <ul>
                      <li>
                        <strong>Tel.:</strong
                        ><a href="telto:+420777829170"> 777 829 170</a>
                      </li>
                      <li>
                        <strong>Mail:</strong>
                        <a href="mailto:cvicenideti@tatran.cz "
                          >cvicenideti@tatran.cz
                        </a>
                      </li>
                      <li>
                        <strong
                          >Hlavní kontaktní osoba pro všechny věkové kategorie
                          cvičení dětí.
                        </strong>
                      </li>
                      <li>
                        <strong>BIO: </strong> Vystudovala jsem Českou
                        zemědělskou univerzitu v Praze, obor Zootechnika. Kladný
                        vztah k pohybu mám již od dětství. Po narození prvního
                        syna jsem hledala sportovní vyžití pro nás oba a cvičení
                        dětí na TJ Tatran Střešovice bylo tím pravým. Postupně
                        jsme společně prošli všemi kategoriemi od cvičení
                        miminek až po cvičení předškoláků. V průběhu se k nám
                        přidala i prostřední dcera a nyní s nejmladším synem
                        jsem se stala cvičitelkou. Podporovat radost z pohybu
                        považuji u dětí za velmi důležité. Vzdělání: Cvičitel
                        III. třídy rodičů, dětí a předškolních dětí.
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
