<section class="about-section">
  <div class="title-section">
    <div class="container">
      <h1 class="h1">NAŠE SPORTOVIŠTĚ</h1>
    </div>
  </div>
  <div class="container">
    <div class="section-wrapper padding-section">
      <div class="about-section__top">
        <h2 class="h2 text-primary">O NÁS:</h2>
        <p class="p1">
          TJ Tatran Střešovice navazuje na tradici tělovýchovné jednoty sokol
          praha střešovice založené v roce 1885. Stará sokolovna vznikla v roce
          1922 přestavbou stodoly zemědělské usedlosti andělka (1756), sportovní
          hala byla přestavěna v roce 1982 ze skladu spartakiádních lehátek na
          víceúčelovou sportovní plochu. V současné době čítá TJ Tatran
          Střešovice 1800 aktivních členů provozujících celkem 18 sportů,
          jejichž realizaci umožňují níže uvedené sportoviště.
        </p>
      </div>
      <h2 class="h2 text-primary mb-10">SPORTOVIŠTĚ TJ TATRAN STŘEŠOVICE</h2>
      <div class="row gx-10">
        <div class="col-xl-6">
          <div class="about-section__item">
            <div class="about-section__img">
              <img
                src="https://via.placeholder.com/262x262"
                alt="reclama"
                loading="lazy"
              />
            </div>
            <div class="about-section__item-info">
              <h3 class="h2">STODOLA Aréna Střešovice</h3>
              <p class="p1">
                Víceúčelová sportovní hala (48x24m) pro volejbal, florbal,
                házenou, sálovou kopanou a další sporty.
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-6">
          <div class="about-section__item">
            <div class="about-section__img">
              <img
                src="https://via.placeholder.com/262x262"
                alt="reclama"
                loading="lazy"
              />
            </div>
            <div class="about-section__item-info">
              <h3 class="h2">Badmintonová hala</h3>
              <p class="p1">
                5 badmintonových kurtů s nejmodernějším povrchem a špičkovou
                světelnou technologií.
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-6">
          <div class="about-section__item">
            <div class="about-section__img">
              <img
                src="https://via.placeholder.com/262x262"
                alt="reclama"
                loading="lazy"
              />
            </div>
            <div class="about-section__item-info">
              <h3 class="h2">GYMNASTICKÝ SÁLEK</h3>
              <p class="p1">
                Malý sálek (18x7m) je zázemím pro přípravu mládeže, aerobní a
                bojové sporty
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-6">
          <div class="about-section__item">
            <div class="about-section__img">
              <img
                src="https://via.placeholder.com/262x262"
                alt="reclama"
                loading="lazy"
              />
            </div>
            <div class="about-section__item-info">
              <h3 class="h2">Tělocvična</h3>
              <p class="p1">
                Parketová tělocvična (23x12m) je prostorem pro všeobecnou
                sportovní přípravu dětí, halové sporty a společenské akce
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-6">
          <div class="about-section__item">
            <div class="about-section__img">
              <img
                src="https://via.placeholder.com/262x262"
                alt="reclama"
                loading="lazy"
              />
            </div>
            <div class="about-section__item-info">
              <h3 class="h2">Venkovní hřiště</h3>
              <p class="p1">
                Víceúčelové hřiště s povrchem druhé generace na malý fotbal a
                nohejbal
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-6">
          <div class="about-section__item">
            <div class="about-section__img">
              <img
                src="https://via.placeholder.com/262x262"
                alt="reclama"
                loading="lazy"
              />
            </div>
            <div class="about-section__item-info">
              <h3 class="h2">Regenerační linka</h3>
              <p class="p1">
                Sauna, vířivka a ledový bazének v moderním vybavení.
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-6">
          <div class="about-section__item">
            <div class="about-section__img">
              <img
                src="https://via.placeholder.com/262x262"
                alt="reclama"
                loading="lazy"
              />
            </div>
            <div class="about-section__item-info">
              <h3 class="h2">Tenisové kurty</h3>
              <p class="p1">
                Tenisový kurty na střešovické vozovně a na Ořechovce
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-6">
          <div class="about-section__item">
            <div class="about-section__img">
              <img
                src="https://via.placeholder.com/262x262"
                alt="reclama"
                loading="lazy"
              />
            </div>
            <div class="about-section__item-info">
              <h3 class="h2">POSILOVNA</h3>
              <p class="p1">
                Posilovna vybavená základními stroji a gymnastickými pomůckami
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="about-section__bottom">
        <h3 class="h2 mb-3 text-primary">ZÁKLADNÍ MYŠLENKY A CÍLE</h3>
        <p class="p1">
          <strong>Naše vize – klub, sport, jedinečnost</strong>
        </p>
        <ul class="p1">
          <li>
            Tato vize je základem pro naši dnešní práci, abychom se mohli stát
            tím, čím chceme být zítra.
          </li>
          <li>
            Naší vizí je systematické formování budoucnosti jedinečné sportovní
            značky. Jedinečné svou sportovní stránkou, jedinečné svou klubovou
            atmosférou.
          </li>
          <li>
            Při její realizaci se nepřetržitě věnujeme rozvoji mládeže,
            vyhledávání a péči o talenty, organizujeme atraktivní sportovní
            akce, podporujeme sport pro všechny a zároveň usilujeme o nejvyšší
            mety v prestižních domácích i mezinárodních soutěžích. Na základě
            svých možností a zdravé finanční podpory se chceme dále v tomto
            smyslu vyvíjet.
          </li>
          <li>
            Tatran Střešovice je výzva, která dává každému jednotlivci prostor
            dále rozvíjet své schopnosti a společně uskutečňovat sportovní a
            marketingové cíle, které jsou výrazem živoucí přítomnosti a
            budoucnosti klubu.
          </li>
        </ul>
        <p class="p1">
          <strong> Naši členové – stavební kameny</strong>
        </p>
        <ul class="p1">
          <li>
            Naši členové jsou tím nejdůležitějším, jsou základem našeho klubu.
          </li>
          <li>
            V současné době sdružuje Tatran Střešovice v šesti sportovních
            oddílech 1765 členů.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
