<section class="contacts-section">
  <div class="title-section">
    <div class="container">
      <h1 class="h1">kontakt</h1>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-11 m-auto">
        <div class="section-wrapper padding-section">
          <div class="contacts-section__wrapper row">
            <div class="col-lg-6 col-left">
              <h2 class="h2 text-primary">TJ TATRAN STŘEŠOVICE</h2>
              <ul>
                <li>Sibeliova 368, 162 00</li>
                <li>Otevírací doba PO - NE, 7:00 - 22:00</li>
              </ul>
              <ul>
                <li><strong>Jednorázové pronájmy</strong></li>
                <li>Tel.: 603 448 250,224 312 049</li>
                <li>
                  Mail:
                  <a href="mailto:recepce@tatran.cz"> recepce@tatran.cz</a>
                </li>
                <li><strong>Jednorázové pronájmy tenisu</strong></li>
                <li>Tel. 733 470 238</li>
              </ul>
              <ul>
                <li><strong>Dlouhodobé pronájmy, akce</strong></li>
                <li>Tel.: 602 304 979 (Po - Pá, 9 - 17)</li>
                <li>
                  Mail: <a href="mailto:provoz@tatran.cz">provoz@tatran.cz</a>
                </li>
                <li></li>
              </ul>

              <ul>
                <li><strong>Fakturační údaje</strong></li>
                <li>IČ: 00539015, DIČ: CZ00539015</li>
                <li>Č. účtu: 53901515/2010 (členové)</li>
                <li>51-2685890227/0100 (veřejnost)</li>
                <li>Datová schránka - SKYHH62</li>
              </ul>
            </div>
            <div class="col-lg-6 col-right">
              <div class="col-right__box">
                <h2 class="h2 text-primary mb-2">Výbor TJ Tatran Střešovice</h2>
                <ul>
                  <li>Předseda TJ - Ing. Martin Vaculík</li>
                  <li>Místopředseda TJ - Evžen Jaroš</li>
                  <li>
                    Členové výboru TJ - PeadDr. Jana Členové výboru TJ -
                    Hromádková
                  </li>
                  <li>Členové výboru TJ - Tomáš Urbančík</li>
                  <li>Členové výboru TJ - Jakub Menhart</li>
                </ul>
              </div>
              <div class="col-right__box">
                <h2 class="h2 text-primary mb-2">Předsedové oddílu</h2>
                <ul>
                  <li>Florbal - Ing. Tomáš Kafka</li>
                  <li>Volejbal - JuDr. Jan Červenka</li>
                  <li>Oddíl Sport Pro Všechny - Ing. Tomáš Urbančík</li>

                  <li>Házená - Jaroslav KuprTenis - Evžen Jaroš</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
