.contacts-section {
  margin-bottom: 100px;
  @include media-breakpoint-down(lg) {
    margin-bottom: 40px;
  }
  .col-left {
    .h2 {
      margin-bottom: 20px;
      @include media-breakpoint-down(lg) {
        margin-bottom: 12px;
      }
    }
    ul + ul {
      margin-top: 40px;
      @include media-breakpoint-down(lg) {
        margin-top: 24px;
      }
    }
  }
  .col-right {
    @include media-breakpoint-down(lg) {
      margin-top: 40px;
    }
    &__box {
      margin-bottom: 40px;
    }
  }
}
