<section class="archive-section">
  <div class="title-section">
    <div class="container">
      <h1 class="h1">VŠECHNY ČLÁNKY</h1>
    </div>
  </div>
  <div class="container">
    <form class="form-section" action="">
      <div class="row g-2">
        <div class="col-lg-10 col-9">
          <input type="text" />
        </div>
        <div class="col-lg-2 col-3">
          <button class="btn" type="button">Hledat</button>
        </div>
      </div>
    </form>
    <div class="row g-10">
      <div class="col-xl-4 col-12 col-md-6">
        <a href="#" class="post">
          <div class="post__img">
            <img loading="lazy" src="images/content/1.jpg" alt="" />
          </div>
          <div class="post__info">
            <div class="p2">28. 1. 2023</div>
            <h4 class="h2">100 LET SPORTU VE STŘEŠOVICÍCH</h4>
          </div>
        </a>
      </div>
      <div class="col-xl-4 col-12 col-md-6">
        <a href="#" class="post">
          <div class="post__img">
            <img loading="lazy" src="images/content/1.jpg" alt="" />
          </div>
          <div class="post__info">
            <div class="p2">28. 1. 2023</div>
            <h4 class="h2">100 LET SPORTU VE STŘEŠOVICÍCH</h4>
          </div>
        </a>
      </div>
      <div class="col-xl-4 col-12 col-md-6">
        <a href="#" class="post">
          <div class="post__img">
            <img loading="lazy" src="images/content/1.jpg" alt="" />
          </div>
          <div class="post__info">
            <div class="p2">28. 1. 2023</div>
            <h4 class="h2">100 LET SPORTU VE STŘEŠOVICÍCH</h4>
          </div>
        </a>
      </div>
      <div class="col-xl-4 col-12 col-md-6">
        <a href="#" class="post">
          <div class="post__img">
            <img loading="lazy" src="images/content/1.jpg" alt="" />
          </div>
          <div class="post__info">
            <div class="p2">28. 1. 2023</div>
            <h4 class="h2">100 LET SPORTU VE STŘEŠOVICÍCH</h4>
          </div>
        </a>
      </div>
      <div class="col-xl-4 col-12 col-md-6">
        <a href="#" class="post">
          <div class="post__img">
            <img loading="lazy" src="images/content/1.jpg" alt="" />
          </div>
          <div class="post__info">
            <div class="p2">28. 1. 2023</div>
            <h4 class="h2">100 LET SPORTU VE STŘEŠOVICÍCH</h4>
          </div>
        </a>
      </div>
      <div class="col-xl-4 col-12 col-md-6">
        <a href="#" class="post">
          <div class="post__img">
            <img loading="lazy" src="images/content/1.jpg" alt="" />
          </div>
          <div class="post__info">
            <div class="p2">28. 1. 2023</div>
            <h4 class="h2">100 LET SPORTU VE STŘEŠOVICÍCH</h4>
          </div>
        </a>
      </div>
      <div class="col-xl-4 col-12 col-md-6">
        <a href="#" class="post">
          <div class="post__img">
            <img loading="lazy" src="images/content/1.jpg" alt="" />
          </div>
          <div class="post__info">
            <div class="p2">28. 1. 2023</div>
            <h4 class="h2">100 LET SPORTU VE STŘEŠOVICÍCH</h4>
          </div>
        </a>
      </div>
      <div class="col-xl-4 col-12 col-md-6">
        <a href="#" class="post">
          <div class="post__img">
            <img loading="lazy" src="images/content/1.jpg" alt="" />
          </div>
          <div class="post__info">
            <div class="p2">28. 1. 2023</div>
            <h4 class="h2">100 LET SPORTU VE STŘEŠOVICÍCH</h4>
          </div>
        </a>
      </div>
      <div class="col-xl-4 col-12 col-md-6">
        <a href="#" class="post">
          <div class="post__img">
            <img loading="lazy" src="images/content/1.jpg" alt="" />
          </div>
          <div class="post__info">
            <div class="p2">28. 1. 2023</div>
            <h4 class="h2">100 LET SPORTU VE STŘEŠOVICÍCH</h4>
          </div>
        </a>
      </div>
      <div class="col-xl-4 col-12 col-md-6">
        <a href="#" class="post">
          <div class="post__img">
            <img loading="lazy" src="images/content/1.jpg" alt="" />
          </div>
          <div class="post__info">
            <div class="p2">28. 1. 2023</div>
            <h4 class="h2">100 LET SPORTU VE STŘEŠOVICÍCH</h4>
          </div>
        </a>
      </div>
      <div class="col-xl-4 col-12 col-md-6">
        <a href="#" class="post">
          <div class="post__img">
            <img loading="lazy" src="images/content/1.jpg" alt="" />
          </div>
          <div class="post__info">
            <div class="p2">28. 1. 2023</div>
            <h4 class="h2">100 LET SPORTU VE STŘEŠOVICÍCH</h4>
          </div>
        </a>
      </div>
      <nav aria-label="Další stránky">
        <ul
          class="pagination d-flex flex-wrap pagination-flat pagination-success"
        >
          <li class="page-item active">
            <a class="page-link" href="#" data-abc="true">1</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#" data-abc="true">2</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#" data-abc="true">3</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#" data-abc="true">4</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#" data-abc="true"> »</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</section>
