<header class="header">
  <div class="container">
    <nav class="navbar navbar-expand-lg">
      <a href="#" class="mob-reservation">Rezervace</a>
      <div class="header__logo">
        <a href="" class="header__logo-img">
          <img src="images/ico/logo.svg" loading="lazy" alt="logo" />
        </a>
      </div>
      <button class="c-header__opener js-header__opener" type="button">
        <span></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="sports"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Sporty
            </a>
            <div class="dropdown-menu" aria-labelledby="sports">
              <div class="container">
                <div class="dropdown-menu__inner">
                  <div class="dropdown-menu__title h1">
                    U NÁS
                    <br />
                    SI VYBEREŠ
                  </div>
                  <ul class="dropdown-list">
                    <li>
                      <a class="dropdown-item icon icon-children" href="#"
                        >Cvičení dětí</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item icon icon-handball" href="#"
                        >Házená
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item icon icon-florbal" href="#"
                        >Florbal</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item icon icon-futsal" href="#"
                        >Futsal</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item icon icon-volejbal" href="#"
                        >Volejbal</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item icon icon-badbinton" href="#">
                        Badminton</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item icon icon-tenis" href="#"
                        >Tenis</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item icon icon-other" href="#"
                        >Ostatní</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#"> Ceník a ROZPIS </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#"> O NÁS </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"> kontakt </a>
          </li>
        </ul>
        <div class="header-right">
          <div class="header-right__reservation">
            <a href="#">Rezervace</a>
          </div>
          <a href="" class="social__item">
            <img src="images/ico/fb.svg" alt="" />
          </a>
        </div>
      </div>
    </nav>
  </div>
</header>
