<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <a href="#" class="footer__logo">
        <img src="images/ico/footer.svg" loading="lazy" alt="logo" />
      </a>
      <div class="footer__content">
        <div class="footer__title">TJ TATRAN STŘEŠOVICE</div>
        <ul>
          <li>
            <p>
              <strong> TJ Tatran Střešovice, z.s. </strong>
            </p>
            <p>Sibeliova 368, 162 00</p>
          </li>
          <li>
            <p>
              <strong>Fakturační údaje</strong>
            </p>
            <p>IČ: 00539015, DIČ: CZ00539015</p>
            <p>Č. účtu: 53901515/2010 (členové)</p>
            <p>51-2685890227/0100 (veřejnost)</p>
          </li>
        </ul>
      </div>
      <button id="scrollToTopBtn">
        {% include "@images/chevron-right.svg" %}
      </button>
    </div>
    <p class="copyright">
      © 2023 TJ TATRAN STŘEŠOVICE. Všechna práva vyhrazena.
    </p>
  </div>
</footer>
