<section class="action-section">
  <div class="container">
    <div class="action-section__row">
      <div class="action-section__content">
        <h5 class="h1">CVIČENÍ DĚTÍ</h5>
        <p class="p1">
          S nejmenšími dětmi cvičíme formou říkanek a písniček spojených s
          pohybem. U těch starších zase rozvíjíme pohybové dovednosti jedince.
          Vyberte si program, který vašemu dítěti sedí a my se na vás budeme ve
          Střešovicích těšit.
        </p>
        <a href="#" class="link">Více</a>
      </div>
      <div class="action-section__img">
        <img loading="lazy" src="images/content/1.jpg" alt="" />
      </div>
    </div>
    <div class="action-section__row action-section__row-reverse">
      <div class="action-section__content">
        <h5 class="h1">Tenis ve Střešovicích</h5>
        <p class="p1">
          Zarezervuj si u nás antukový kurt ještě dnes a užij si tenis ve
          Střešovicích! Stačí kliknout na tlačítko "rezervace" a a vybrat si
          termín, který vám vyhovuje. Těšíme se na vás!
        </p>
        <a href="#" class="link">Rezervace</a>
      </div>
      <div class="action-section__img">
        <img loading="lazy" src="images/content/1.jpg" alt="" />
      </div>
    </div>
    <div class="action-section__row">
      <div class="action-section__content">
        <h5 class="h1">
          BADMINTON V <br />
          MODERNÍ HALE
        </h5>
        <p class="p1">
          Čeká na vás 5 kurtů v nové badmintonové hale, na nejmodernějším
          povrchu pod špičkovými světelnými technologiemi. Zarezervujte si svůj
          badmintonový kurt u nás ve Střešovicích uvidíte, že to stojí za to.
        </p>
        <a href="#" class="link">Rezervace</a>
      </div>
      <div class="action-section__img">
        <img loading="lazy" src="images/content/1.jpg" alt="" />
      </div>
    </div>
  </div>
</section>
