.icon {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-repeat: no-repeat;
    background-size: contain;
    width: 24px;
    height: 24px;
  }
}
// .icon-children::before {
//   background-image: url("../images/ico/deti.svg");
// }
// .icon-handball::before {
//   background-image: url("../images/ico/handball.svg");
// }
// .icon-florbal::before {
//   background-image: url("../images/ico/florbal.svg");
// }
// .icon-futsal::before {
//   background-image: url("../images/ico/futsal.svg");
// }
// .icon-volejbal::before {
//   background-image: url("../images/ico/volejbal.svg");
// }
// .icon-badbinton::before {
//   background-image: url("../images/ico/badbinton.svg");
// }
// .icon-tenis::before {
//   background-image: url("../images/ico/tenis.svg");
// }
// .icon-other::before {
//   background-image: url("../images/ico/other.svg");
// }
