:root {
  --color-light: #fff;
  --color-dark: #000;

  --color-bg: #d20000;
  --color-border: rgba(255, 255, 255, 0.5);
  --color-gray: #595959;
  --title-font: "factoria", serif;
  --transition: all 0.3s linear;
}
