<section class="topstory-section">
  <div class="container">
    <div class="topstory-section__inner">
      <div class="topstory-section__slider-col">
        <div class="topstory-section__slider">
          <a href="#" class="topstory-section__item">
            <div class="topstory-section__img">
              <img loading="lazy" src="images/content/1.jpg" alt="" />
              <div class="topstory-section__info">
                <div class="p2">28. 1. 2023</div>
                <h1 class="h1">100 LET SPORTU VE STŘEŠOVICÍCH</h1>
              </div>
            </div>
          </a>
          <a href="#" class="topstory-section__item">
            <div class="topstory-section__img">
              <img loading="lazy" src="images/content/2.jpeg" alt="" />
              <div class="topstory-section__info">
                <div class="p2">28. 1. 2023</div>
                <h2 class="h1">Fyzio cvičení s konzultací</h2>
              </div>
            </div>
          </a>
          <a href="#" class="topstory-section__item">
            <div class="topstory-section__img">
              <img loading="lazy" src="images/content/1.jpg" alt="" />
              <div class="topstory-section__info">
                <div class="p2">28. 1. 2023</div>
                <h2 class="h1">Gymnastika L a XL</h2>
              </div>
            </div>
          </a>
          <a href="#" class="topstory-section__item">
            <div class="topstory-section__img">
              <img loading="lazy" src="images/content/2.jpeg" alt="" />
              <div class="topstory-section__info">
                <div class="p2">28. 1. 2023</div>
                <h2 class="h1">BADMINTON V MODERNÍ HALE</h2>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="topstory-section__aside-col">
        <div class="topstory-section__aside">
          <a href="#" class="btn btn-right">REZERVAČNÍ SYSTÉM</a>
          <div class="topstory-section__contacts">
            <div class="h3">KONTAKT</div>
            <ul>
              <li>
                <p>
                  <strong>TJ Tatran Střešovice, z.s. </strong>
                </p>
                <p>Sibeliova 368, 162 00</p>
              </li>
              <li>
                <strong>Otevírací doba PO - NE, 7:00 - 22:00</strong>
              </li>
              <li>
                <p>
                  <strong>Jednorázové pronájmy</strong>
                </p>
                <p>Tel.: 603 448 250,224 312 049 </p>
                <p>
                  Mail: <a href="mailto:recepce@tatran.cz">recepce@tatran.cz</a>
                </p>
              </li>
              <li>
                <p>
                  <strong>
                    Jednorázové pronájmy tenisu
                  </strong>
                </p>
                <p>
                  Tel. 733 470 238
                </p>
              </li>
              <li>
                <p>
                  <strong>Dlouhodobé pronájmy, akce </strong>
                  <p>Tel.: 602 304 979 (Po - Pá, 9 -
                    17) </p>
                  <p>Mail: <a href="mailto:provoz@tatran.cz">provoz@tatran.cz</a></p>
                </p>
              </li>
              <li>
                <p>
                  <strong>Fakturační údaje</strong>
                </p>
                <p>IČ: 00539015, DIČ: CZ00539015</p>
                <p>Č. účtu: 53901515/2010 (členové)</p>
                <p>51-2685890227/0100 (veřejnost)</p>
                <p>Datová schránka - SKYHH62</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-12">
        <a href="#" class="btn btn-left btn-floorball">POJĎ HRÁT FLORBAL </a>
      </div>
      <div class="col-xl-6 col-12">
        <a href="#" class="btn btn-right  btn-volleyball">POJĎ HRÁT VOLEJBAL</a>
      </div>
    </div>
  </div>
</section>

